<form method="POST" class="text-center">
    <!-- hidden id for user's edition -->
    <input type="hidden" value="{{ user.id }}" name="id">
    <label for="firstname">User's firstname</label>
    <input type="text" value="{{ user.firstname }}" name="firstname" id="firstname" max="16" min="3" required>
    <br>
    <label for="lastname">User's lastname</label>
    <input type="text" value="{{ user.lastname }}" name="lastname" id="lastname" max="32" min="3" required>
    <br>
    <label for="email">User's email</label>
    <input type="email" value="{{ user.email }}" name="email" id="email" max="64" min="3" required>
    <br>
    {% if status is same as(0) %}
        <button type="submit" class="btn btn-info btn-xs">Add an user</button>
    {% else %}
        <button type="submit" class="btn btn-warning btn-xs">Edit this user</button>
        <a href="/user/delete/{{ user.id }}" class="btn btn-danger btn-xs">Delete this user</a>
    {% endif %}
</form>