{% extends 'layout.html.twig' %}

{% block title %}Staff's homepage{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/staff.css">
{% endblock %}

{% block header %}
    {% include "Magasins/_staffNavbar.html.twig" %}
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Div -->
        <div class="jumbotron my-4">
            <h1 class="display-3">User's table</h1>
            <a href="/user/add" class="btn btn-primary btn-xs">Add an user</a>
        </div>

        <!-- Page Features -->
        <div class="row text-center">
            {% if users is empty %}
                <p class="badge badge-secondary">No user in DB</p>
            {% else %}
            <table class="table table-hover table-sm table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="/user/edit/{{ user.id }}" class="btn btn-warning btn-xs">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}